CSS BY YULIIA MOZHCHIL

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT VARIABLES */
:root{
    /*Fonts*/
    --font-body: "Inter", sans-serif;
    --font-display: "Playfair Display";
    /*Color*/
    --midnight-bue:  #1F2A44;
    --olive-green: #76885B;
    --champagne-gold: #E5C185;
    --linen: #F8F4EC;
    --dark-charcoal: #2B2B2B;
    --soft-white: #FAF9F6;
}

/* GLOBAL STYLES (mobile first/small) */
body{
    font-family: var(--font-display);
    background-color: var(--linen);
    line-height: 1.25;
    margin: auto;
}
header{
    grid-area: head;
    background-color: var(--midnight-bue);
}
header>img{
    max-height: 500px;
    width:auto;
    display: block;
    margin: auto;
    height: auto;
}
h1{
    font-size: 3rem;
    font-family: var(--font-display);
    color: var(--linen);
    text-align: center;
    margin: 1rem;
}
h2{
    font-family: var(--font-display);
    font-size: 2rem;
    line-height: 2rem;
    color: var(--midnight-bue);
    margin: 10px 0 10px 0;
}
h3{
    font-family: var(--font-display);
    font-size: 1.5rem;
    color: var(--linen);
    margin: 0 0 5px;
    font-weight: bold;
}
p{
    font-family: var(--font-display);
    font-size: 1rem;
    margin-top: 0;
    color: var(--linen);
}
header>p{
    color: var(--linen);
    font-style: italic;
    font-family: var(--font-display);
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
}
nav{
    background-color: var(--champagne-gold);
}
 nav>ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding: 24px;
 }
nav li{
    color: var(--midnight-bue);
    font-weight: bold;
    font-family: var(--font-display);
    font-size: 1.25rem;
}
main{
    background-color: var(--soft-white);
}
main > section{
    margin-left: 2rem;
    margin-right: 2rem;
}
#welcome{
    grid-area: welcome;
    border-bottom: 3px solid var(--champagne-gold);
}
#welcome p{
    margin-top: 0;
    color: var(--dark-charcoal);
}
.offerings{
    display: grid;
    justify-content: center;
    grid-gap: 7px;
    grid-template-columns:auto;
    grid-template-rows: auto;
    grid-template-areas:"provisions"
                        "dining-experiences"
                        "monthly-basket";
    border-bottom: 3px solid var(--champagne-gold);
    padding-bottom: 2rem;
}


.provisions { 
    grid-area: provisions; }
.dining-experiences { 
    grid-area: dining-experiences; }
.monthly-basket { 
    grid-area: monthly-basket;
    grid-column: 1 / -1; }


.offering-type{
    background-color: var(--olive-green);
    color: var(--linen);
    border-radius: 10px;
    padding: 1rem 1.5rem;
}
.offering-type >p{
    margin: 0;
}
.offering-type >ul{
    list-style: disc;
    padding-left: 1.5rem;
    font-size: 1rem;
}
.offering-type >p, ul{
    margin: 0;
}
#gallery{
    border-bottom: 3px solid var(--champagne-gold);
    padding-bottom: 32px;
    margin-bottom: 2rem;
}
#gallery p{
    color: var(--dark-charcoal);
}
figcaption{
    color: var(--dark-charcoal);
    text-align: center;
    font-style: italic;
    margin: 1.5rem 0;
    font-size: 1rem;
}
.gallery-items{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:"tomatoes"
                        "olive-oil"
                        "table-setting"
                        "chef-plating"
                        "basket";
    
    padding-bottom: 2rem;
}

.tomatoes { 
    grid-area: tomatoes; }
.olive-oil { 
    grid-area: olive-oil; }
.table-setting { 
    grid-area: table-setting;}
.chef-plating { 
    grid-area: chef-plating;}
.basket { 
    grid-area: basket;}


figure{
    background-color: var(--soft-white);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.247);
    margin: 0;
}
figure >img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}
input{
    background-color: var(--olive-green);
    border-radius: 10px;
    width: 100%;
    border: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1.5rem;
    font-size: 1.5rem;
    color: var(--soft-white);
    font-weight: bold;
    font-family: var(--font-display);
}
footer{
    background-color: var(--midnight-bue);
    padding: 2rem 0 2rem;
}
address,a{
    text-align: center;
    font-family: var(--font-display);
    line-height: 1.25;
    font-size: 1.25rem;
    text-decoration: none;
    color: var(--linen);
}
.external-link{
    color: var(--champagne-gold);
    font-weight: bold;
}
footer>p{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
/* MEDIA QUERY MEDIUM */
@media (min-width: 600px){
  .offerings{
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "provisions dining-experiences"
      "monthly-basket monthly-basket";
  }
  .gallery-items{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
                        "tomatoes olive-oil"
                        "table-setting chef-plating"
                        "basket .";
  }
}

@media (min-width: 900px){
    .gallery-items{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
                        "tomatoes olive-oil table-setting"
                        "chef-plating basket .";
  }
  main > section{
    max-width: 800px;
    margin: auto;
  }
}

@media (min-width: 1200px) {
    .gallery-items{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
                        "tomatoes olive-oil table-setting chef-plating basket";
  }
    nav li{
        font-size: 2rem;
  }
  main > section{
    max-width: 1100px;
    margin: auto;
  }
}
